<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <section>
    <h1>Oh no, an error has occurred!! *sad face*</h1>
    <h2>So sorry about that. Perhaps you would like to return to the.... <a href="/">home page?</a></h2>
  </section>

</body>

</html>